.carousel-item{
	height: 300px;
	width: 100%;
}

.slider-img{
	min-height: 250px; 
	position: relative; 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
	width: 4000px;

}

#active{
	color :#45B8AC!important;
}

#newsletter{
	background-color: #45B8AC!important;
}
.img{
	height: 500px;
	width: 100%;
}

.c{
	height: 250px;
}

.ad{
	height: 250px;
}

.fas{
	font-size: 20px;
}

.feat-data .fas{
	background-color: #45B8AC!important;
	color: white;
	margin-top: 50px;
 	border-radius: 50%;
    min-width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(33,37,41,.1), 0 7px 14px rgba(33,37,41,.1);
    font-size: 27px;
}


.logo{
	background-color: #45B8AC!important;
	color: white;
	padding-top: 20px;
 	border-radius: 50%;
    min-width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(33,37,41,.1), 0 7px 14px rgba(33,37,41,.1);
    font-size: 27px;
}
}
#newsletter {
	background-color: #45B8AC;

}

#btn1{
	background-color: #45B8AC;
}

#car1{
	background-color: #45B8AC;

}

.name{
	font-size: 1.6em;
}